<igx-data-chart height="100%" width="100%">
  <igx-category-x-axis
    #xAxis
    [dataSource]="data"
    label="Year"
  ></igx-category-x-axis>
  <igx-numeric-y-axis
    #yAxis
    title="TWh"
    labelLocation="OutsideRight"
  ></igx-numeric-y-axis>

  <igx-line-series
    #series1
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [dataSource]="data"
    valueMemberPath="USA"
    title="WEA"
  >
  </igx-line-series>
  <igx-line-series
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [dataSource]="data2"
    valueMemberPath="USA"
    title="CWE"
  >
    >
  </igx-line-series>

  <igx-crosshair-layer
    [isAxisAnnotationEnabled]="true"
    horizontalLineVisibility="Collapsed"
    [useInterpolation]="false"
  ></igx-crosshair-layer>
  <igx-data-tool-tip-layer
    [showDefaultTooltip]="false"
    [tooltipTemplate]="valueTooltip"
    [isDefaultToolTipSelected]="false"
  >
  </igx-data-tool-tip-layer>
  <ng-template let-series="series" let-item="item" #valueTooltip>
    <div>Tooltip</div>
  </ng-template>
</igx-data-chart>
